.bg-exhibition {
    background: linear-gradient(to right bottom, #915491, #487072);
    height: 100%;
    width: 100%;
}


.bannerimg-container {
    min-width: 100%;
    text-align: center;
}


.banner-img {
    width: 80%;
    object-fit: cover;
    object-position: top;
    position: relative;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}

.exhib-img, img {
    position: relative;
    width: 200px;
    height: 250px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.heading1 {
    padding: 50px 0px;
}

.heading1 h1 {
    text-align: center;
}

.exhibition-container {
    display: grid;
    grid-gap: 2em;
    margin-left: 20%;
    margin-right: 20%;
}

.exhib-img img{
    padding-left: 0; 
    border-radius: 10px;
}

.exhib {
    background-color: rgb(19, 66, 110);
    padding: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    
}   

.exhib p {
    color: white;
}

.exhib h2 {
    color: white;
}

.exhib h3 {
    color: white;
}

.news-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax( 50px, 1fr));
    grid-gap: 2em;
    margin: 150px 25%;
    margin-top: 0px;
}

.news {
    background-color: rgb(63, 198, 207);
    padding: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.news p {
    color: black;
}

.news h4 {
    text-decoration: underline;
    padding-top: 0;
}

.news-heading h3{
    padding-left: 25%;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

@media (max-width: 1169px) {
    .exhib {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media (max-width: 355px) {
    .exhibition-container {
        margin-left: 10%;
        margin-right: 10%;
    }

        /* exhibition page */

        .news-container {
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 150px;
        }
}