
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #487072;
    width: 100%;
    margin: 0%;
}

.bgimg {
    background-image: url(/PNG/Pre-historic\ forrest.png);
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    min-width: 100%;
}

h1 {
    color: white;
}

h2 {
    color: white;
    font-style: none;
}

h3 {
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

p {
    color: white;
    font-style: italic;
}

/* Responsive nav bar */

header {
    position: relative;
    color: white;
    font-size: 1.5rem;
    background: #52A3A3;
}

nav {
    position: absolute;
    background: #52A3A3;
    left: 1.5rem;
    font-size: 16px;
    margin: 0% 5%;
}

ul {
    list-style: none;
}

nav, 
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
    z-index: 3;
}

nav a {
    display: block;
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    text-decoration: none;
}

nav li a:hover {
    color: #0e1d1d;
}

/* button */

li, a, button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 24px;
}

button {
    padding: 9px 25px;
    background-color: rgb(163, 37, 37);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: red;
}


/* Logo */

.logo-T-Rex img{
    width: 141px;
    height: 100px;
    }


    /*Hero Section*/

.herosection-container {
    min-width: 100%;
    background-image: url(/PNG/Jungle\ background.png);
    background-size: cover;
    background-position: center;
    padding-top: 98px;
    padding-bottom: 98px;  
    border-bottom: 10px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    justify-content: center
}

.hero-section {
    text-align: center;
    display: block;
}

.herosection-h2 {
    background-color: rgba(0, 0, 0, 0.623);
    justify-content: center;
    margin-left: 75px;
    margin-right: 75px;
}

.herosection-h2, h2 {
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.herosection-img {
    object-fit: cover;
    box-shadow: 13px 17px 5.6px 7px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

/* Info section */

.info-container {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    color: white;
    padding-top: 75px;
}

.img-container {
    color: blueviolet;
    text-align: center;
    margin-top: 8%;
}

.info-section {
    background-color: rgba(1, 1, 7, 0.507);
    margin-right: 75px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 75px;
    justify-content: center;
}

.info-section, h2 {
    font-size: 32;
}

.info-section, p {
    font-size: 24px;
    font-weight: 300;
}

.info-img {
    border-radius: 19px;
    margin-bottom: 50px;
}

/* Footer */

footer {
    color: white;
    background-color: rgb(0, 58, 41);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer_container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.footer_item {
    flex: 1;
    font-size: large;
}

.footer_item SVG {
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 30px;
    height: 50px;
    cursor: pointer;
    margin: 1% 5% 1% 5%;
}

.footer_item li {
    color: white;
    text-decoration: none;

}

.footer_item a {
    font-style: none;
    color: white;
    font-size: medium;
}

.footer_item ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%;
    justify-content: space-evenly;
}

@media (min-width: 1200px) {

    nav {
    display: flex;
    flex-direction: row;
    position: static;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 800;
    }
    
    nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    list-style: none;
    }
    
    ul a {
    text-align: center;
    }
    
    .hamburger-icon {
    display: none;
    }
    
    nav li a {
    transition: all 0.3s ease 0s;
    }
    
    li, a, button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 24px;
    }
    
    ul li a {
    color: white;
    text-decoration: none;
    }
    
    .info-section {
        margin-left: 25px;
        margin-right: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    nav li a:hover {
    color: #0e1d1d;
    }
    
    button {
    padding: 9px 25px;
    background-color: rgb(163, 37, 37);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    }
    
    button:hover {
    background-color: red;
    } 
    
    nav a {
    display: inline-block;
    }
}

    /* @media (max-width: 1199) and (min-width: 768px) {

    } */

@media (max-width: 767px) {
    /* Styles for screens up to 480px wide (smaller mobile devices) */
    .bgimg {
    background-image: url(/PNG/Pre-historic\ forrest.png);
    min-height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    
    main {
        min-width: 100%;
    }

    .header-container {
        padding: 1%;
    }

    .logo-T-Rex img {
        max-width: 120px;
    }

    .menu-container {
        padding: 10px;
    }

    .header-list {
        gap: 15px;
    }

    .menu-container ul {
        gap: 15px;
        font-size: 16px;
        font-weight: 500;
    }

    .herosection-container {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
        align-items: center;
    }

    .hero-section {
        padding: 20px;
    }

    .herosection-img{
        position: relative;
        object-fit: cover;
        width: 60%;
    }

    .herosection-h2 {
        padding-right: 15px;
    }

    .info-container {
        grid-template-columns: 1fr;
        padding-top: 20px;
    }

    .info-section {
        margin-left: 25px;
        margin-right: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .info-img {
        width: 50%;
        margin-bottom: 120px;
    }

    footer {
        font-size: x-small;
    }

    .footer_container {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }
}


