
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right bottom, #915491, #487072);
    width: 100%;
    height: 100%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    min-width: 100%;
    min-height: 100%;
}

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: white;
}

h2 {
    color: white;
    font-style: none;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}

p {
    color: white;
    font-style: none;
    font-size: 16px;
}

/* Responsive nav bar */

header {
    position: relative;
    color: white;
    font-size: 1.5rem;
    background: #105547;
}

.hamburger-icon {
    padding-left: 20px;
}

nav {
    position: absolute;
    left: 1.5rem;
    font-size: 16px;
    margin: 0% 5%;
    background: #105547;
}

ul {
    list-style: none;
}

nav, 
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
    z-index: 3;
}

nav a {
    display: block;
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    text-decoration: none;
}

nav li a:hover {
    color: #0fffff;
}

.active {
    color: #00ffff;
}

/* button */

li, a, .cta {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 24px;
    color: black;
}

.cta {
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: black;
    color: white;
}

.cta-visit {
    padding: 5px 18px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.button-border {
    padding-bottom: 25px;
}

.cta-visit:hover {
    background-color: black;
    color: white;
}

/* Logo */

.logo-T-Rex img{
    width: 141px;
    height: 100px;
    }


    /*Hero Section*/

.herosection-container {
    min-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(../PNG/Jungle\ background.png);
    background-size: cover;
    background-position: top;
    padding-top: 98px;
    padding-bottom: 98px;  
    border-bottom: 10px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    margin: 0%;
}

.hero-section {
    text-align: center;
    display: block;
    align-self: center;
}

.herosection-h2 {
    justify-content: center;
    justify-content: left;
}

.herosection-h1, h1 {
    color: white;
    padding-right: 5%;
    margin-top: 60px;
    margin-bottom: 60px;
    align-self: center;
}

.herosection-img {
    object-fit: cover;
    object-position: center;
    width: 350px;
    height: 40vh;
    box-shadow: 13px 17px 5.6px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/* Info section */

.info-container {
    background: linear-gradient(rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url(../PNG/Pre-historic\ forrest.png);
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid black;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    color: white;
    padding-top: 75px;
}

.img-container {
    color: blueviolet;
    text-align: center;
    margin-top: 7%;
}

.info-section {
    background-color: rgba(1, 1, 7, 0.808);
    border-radius: 20px;
    margin-right: 75px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    align-items: center;
    align-self: center;
}

.info-section, h2 {
    font-size: 32;
}

.info-section, p {
    font-size: 16px;
}

.info-img {
    border-radius: 20px;
    margin-bottom: 50px;
    height: 350px;
    width: 350px;
    object-fit: cover;
    object-position: center;
}

/* Visit Us */

    .visit-container {
        background-color: rgb(8, 63, 46);
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 3% 5%;
        border-bottom: 10px solid black;
    }

    .visit-info-section {
        margin: 0% 18%;
        text-align: center;
    }

    .visit-info-section h2 {
        text-align: center;
        font-size: 22px;
        padding-top: 0%;
    }

    .visit-info-section h3 {
        color: white;
    }

    .visit-info-section button {
        margin-bottom: 30px;
        font-size: 18px;
    }

/* Explore */

.explore-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
    margin-right: 12%;
    margin-left: 12%;
    margin-bottom: 100px;
}

.explore-container h2 {
    text-align: center;
    font-size: 22px;
    align-self: center;
}

/* for kids */

.for-kids-infoBox {
    background-color: rgb(19, 66, 110);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

.for-kids-infoBox img {
    float: left;
    object-fit: cover;
    object-position: center;
    position: relative;
    max-width: 100%;
    min-width: 22%;
    height: 25vh;
    padding-right: 30px;
    border-radius: 10px;
}

.for-kids-infoBox h3 {
    color: white;
    padding-top: 10px;
}

.for-kids-infoBox p {
    padding-bottom: 5px;
    padding-left: 20px;
}

/* for teachers */

.for-teacher-infoBox {
    background-color: rgb(19, 66, 110);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

.for-teacher-infoBox img {
    float: right;
    object-fit: cover;
    object-position: center;
    position: relative;
    max-width: 100%;
    min-width: 22%;
    height: 25vh;
    padding-left: 20px;
    border-radius: 10px;
}

.for-teacher-infoBox h3 {
    color: white;
    padding-top: 10px;
    padding-left: 20px;
}

.for-teacher-infoBox p {
    padding-left: 20px;
}

/* for researchersers */

.for-researchers-infoBox {
    background-color: rgb(19, 66, 110);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-bottom: 50px;
}

.for-researchers-infoBox img {
    float: left;
    object-fit: cover;
    object-position: center;
    position: relative;
    max-width: 100%;
    min-width: 22%;
    height: 25vh;
    padding-right: 20px;
    border-radius: 10px;
}

.for-researchers-infoBox h3 {
    color: white;
    padding-top: 10px;
    padding-left: 20px;
}

.for-researchers-infoBox p {
    padding-left: 20px;
}


/* Footer */

footer {
    color: white;
    background-color: #5F365F;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer_container {
    position: relative;
    display: flex;
    flex-flow:row wrap;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
}

.footer_item {
    flex: 1;
    font-size: large;
}

.footer_item i {
    color: white;
    cursor: pointer;
    width: 70px;
    font-size: 32px;
}


.footer_item li {
    color: white;
    text-decoration: none;

}

.footer_item a {
    font-style: none;
    color: white;
    font-size: 20px;
}

.footer_item ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%;
    justify-content: space-evenly;
}

@media (min-width: 1200px) {

    nav {
    display: flex;
    flex-direction: row;
    position: static;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 800;
    }
    
    nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    list-style: none;
    }
    
    ul a {
    text-align: center;
    }
    
    .hamburger-icon {
    display: none;
    }

    .fa-solid {
        margin-top: 15px;
        margin-bottom: 15px; 
    }
    
    nav li a {
    transition: all 0.3s ease 0s;
    }
    
    li, a, .cta {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 24px;
    }
    
    ul li a {
    color: white;
    text-decoration: none;
    }

    .info-section {
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    nav li a:hover {
    color: #00ffff;
    }
    
    button {
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    }
    
    button:hover {
    background-color: red;
    } 
    
    nav a {
    display: inline-block;
    }

}

@media (max-width: 1200px) {
    .herosection-h1 {
        padding: 5%;
        margin-top: 10px;
        padding-top: 0;
        margin-bottom: 10px;
    }

    .herosection-h1 h1 {
        margin: 20px;
    }

    .fa-solid {
        margin-top: 15px;
        margin-bottom: 15px; 
    }
    
}



@media (max-width: 767px) {
    .bgimg {
    background-image: url(/PNG/Pre-historic\ forrest.png);
    min-height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    
    main {
        min-width: 100%;
    }

    .header-container {
        padding: 1%;
    }

    .logo-T-Rex img {
        max-width: 120px;
    }

    .menu-container {
        padding: 10px;
    }

    .header-list {
        gap: 15px;
    }

    .menu-container ul {
        gap: 15px;
        font-size: 16px;
        font-weight: 500;
    }

    .cta {
    margin: 0px 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    }
    
    .hamburger-icon {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .fa-solid {
        margin-top: 15px;
        margin-bottom: 15px; 
        
    }

    .herosection-container {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
        align-items: center;
    }

    .hero-section {
        padding: 20px;
    }

    .herosection-img{
        position: relative;
        object-fit: cover;
        width: 60%;
        height: 60%;
    }

    .herosection-h1 {
        padding-right: 25px;
        padding-left: 25px;
    }

    .herosection-h1 h1 {
        padding-right: 0%;
    }

    .info-container {
        grid-template-columns: 1fr;
        padding-top: 20px;
    }

    .info-section {
        margin-left: 25px;
        margin-right: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .info-img {
        width: 50%;
        height: 70%;
        margin-bottom: 120px;
    }


    footer {
        font-size: x-small;
    }

    .footer_container {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }

    .footer_item i{
        font-size: 18px;
        width: 30px;
        height: 25px;
    }

    .footer_item a{
        font-size: 16px;
    }

    /* contribution page */

    .Contribution-container {
        max-width: 100%;
        display: grid;
        gap: 20px;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 160px;
    }

    .img-section img {
        position: relative;
        float: left;
        width: 100%;
        max-width: none;
        margin-right: 0;
        margin-bottom: 0;
        margin-bottom: 5px;
    }

    .img-right-section img {
        position: relative;
        float: right;
        width: 100%;
        max-width: none;
        margin-right: 0;
        margin-bottom: 0;
        margin-bottom: 5px;
    }

    .text-box p {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .text-box-mid p {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .text-box h2 {
        padding-left: 20px;
    }

}

/* PrivacyPolicy and TermanAndConditions */

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    height: 100vh;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
