.contact-us-heading h1{
    text-align: center;
    padding: 0%;
}

.table-address-container {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.opening-hours-table {
    color: white;
    background-color: #3e8181;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
}

address {
    background-color: #3e8181;
    color: white;
    position: relative;
    width: 225px;
    align-items: center;
    justify-content: center;
    padding-top: 71px;
    padding-bottom: 71px;
    border-radius: 20px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
}

.Inquiry-container {
    color: white;
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.Inquiry-heading, h2 {
    padding: 0%;
    margin: 0%;
}

.Inquiry-box {
    background-color: #3e8181;
    padding: 20px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
}

.submit {
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.submit:hover {
    background-color: black;
    color: white;
}

.btn-submit {
    margin-bottom: 150px;
}

form label {
    display: block;
    margin-bottom: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px 60px;
    box-sizing: border-box;
    border-radius: 20px;
}
